.page {
    width: 430px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 340px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all;
    transition: all;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.server-answer {
    margin: 15px 0 0;
    color: #EF3B3A;
    font-size: 14px;
}

.error-name {
    font-family: arial, serif;
    font-size:32px;
    color:#4d4d4d;
    white-space:nowrap;
    padding-bottom:5px;
}

.error-description {
    font-family: georgia, serif;
    font-size:11px;
    color:#707070;
    font-weight:bold;
    white-space:nowrap;
    padding-bottom:5px;
}

.error-support {
    font-family: arial, serif;
    font-size:11px;
    color:#707070;
}

.error-block {
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:25px;
    margin-bottom:25px;
}

body {
    background: #FFFFFF;
}